body {
    margin-left: 1em
}

span {
    white-space: nowrap
}
    
u {
    color: red;
    cursor: pointer
}

.width-limit {
    clear: both
}

#logo_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.2em 0;
    background-color: #5A5AD2;
    text-align: center;
    z-index: 1;
}

#logo {
    height: 2em;
}

#cons {
    font-family: 'Courier New';
    line-height: 0.9
}

#left_panel {
    float: left
}

.fasta_header {
    max-width: 48em;
    font-weight: bold
}
#sequences {
    font-family: 'Courier New'
}

.section_header {
    font-weight: bold;
    font-size: 1.25em
}

#info_box {
    border: thin dashed;
    float: left;
    margin-left: 8px;
    padding: 0.5em;
    max-width: 25em;
    display: none
}
#info_box > div > pre {
    max-height: 75vh;
    max-width: 40em;
    overflow: auto
}

