body {
    padding-left: 1em
}

span {
    white-space: nowrap
}

.width-limit {
    clear: both
}

.motif {
    color: red;
    cursor: pointer
}

.leaf {
    color: fuchsia
}

.grayed {
    color: #bbb
}

#logo_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.2em 0;
    background-color: #5A5AD2;
    text-align: center;
    z-index: 1;
}

#logo {
    height: 2em;
}

.section_header {
    font-weight: bold;
    font-size: 1.25em
}

#overviews {
    padding-left: 2em
}
.overview-span {
    font-family: 'Courier New'
}
.overview, .overview:link, .overview:hover, .overview:visited {
    color: red
}

#left_panel {
    float: left
}

.fasta_header {
    max-width: 48em;
    font-weight: bold
}
#sequences {
    font-family: 'Courier New';
    font-size: 0.75em;
    padding-right: 0.5em
}

#info_box {
    border: none;
    float: left;
    padding: 0.5em;
    max-width: 31em;
    display: none
}
#info_box > img {
    max-height: 35vh;
    max-width: 30em;
    overflow: auto
}
#info_box > pre {
    max-height: 35vh;
    max-width: 30em;
    overflow-x: hidden;
    overflow-y: auto
}

.motif-line {
    position: absolute;
    border-top: thin dashed fuchsia
}

.elm {
    background-color: #E0E0FF
}