{% extends "hhmotif_app/base.html" %}

{% block content %}
<div class="row">
    
    <div style="text-align: center">
        <h2 class="text-section">Page Not Found</h2>
    </div>

</div>
{% endblock %}
