{% extends "hhmotif_app/base.html" %}

{% block about %}<li class="active"><a href="../about/">About</a></li>{% endblock %}

{% block content %}
<div class="row">

    <div class="col-xs-12" style="text-align: justify">

        <h2 class="text-section">1. Introduction</h2>
        <hr class='line'></hr>
        <br />

        <h3 class="text-sub-section">Definition</h3>
        <p>A short linear functional motif is a protein sequence stretch that is sufficient to perform a distinct function, such as interaction with another molecule (which can further lead to modification, degradation or relocation of the motif-containig protein).
        Generally speaking, a motif, however, is not restricted to the exact sequence from the protein in which it occurs, but it is a set of sequence variants that retain the same specific function.
        </p>
        <p>A motif instance then is a specific occurance of the motif in a specific protein.
        </p>

        <h3 class="text-sub-section">Problem</h3>
        <p>A <i>de novo</i> search for motifs guided by the definition would involve resolving interactions experimentally, which is often too costly or not at all feasible (e.g., because the common interactor itself is not yet identified).
        Computational approaches that dock molecules in 3D work well generally only with known 3D structures and even then they encounter big challenges when dealing with conformational flexibility.
        Thus, it is practically impossible to <i>de novo</i> search for motifs directly in a set of proteins without the known common interaction partner and resolved 3D structures.
        </p>

        <h3 class="text-sub-section">Tree model</h3>
        <img id="region_model_image" src="../static/img/tree_model.svg" alt="Region model" />
        <p class="image-paragraph">To circumvent the problem, one should search for motifs indirectly.
        For this purpose simplified models of a motif were developed.
        The most conventional such model is regex (regular expression), which describes the conserved positions in the motif in form of simple amino acid lists.
        Sequence profiles are more informative models, as they describe exact amino acid frequencies (emission probabilities) at each position within the motif.
        However, both regexes and profiles imply that all the motif instances are equal and a high-quality alignment exists between each two instances.
        This assumption, however, does not go well with the principles of evolution.
        Therefore, {{tool}} comes up with the tree model.
        In this model one of the motif instances assumes the role of 'root', while all other instances become 'leaves'.
        Each leaf exhibits strong similarity to the motif root (which results in high-quality local alignment); however, a pair of leaves must not necessarily exhibit strong similarity to each other.
        </p>

        <h3 class="text-sub-section">Proteome-wide search</h3>
        <p>The proteome-wide motif prediction is designed as an extension of the <i>de novo</i> search (although it of course can be used independently).
        It operates as a quick search of already known or already predicted motifs in the whole proteome(s) of the selected species.
        Such a search may serve the dual goal of finding additional motif instances, as well as to checking if the motif is enriched in the initial set.
        </p>

        <h2 class="text-section">2. Design goals</h2>
        <hr class='line'></hr>
        <br />

        <p>{{tool}} was designed to satisfy the following criteria as goals:
        </p>
        <ul style="margin-left: 2em">
            <li><b>Simplicity:</b> one-click submit with only an input FASTA file provided must be possible (although additional features and parameters are available in the advanced mode)</li>
            <li><b>Imformativeness:</b> detailed data on sequence similarity interplay must be available to the user for further consideration</li>
            <li><b>Performance:</b> it must outperform all other existing tools (residue-wise F1 value on ELM database is used as the benchmark)</li>
            <li><b>Compatibility:</b> the possibility to view predicted motifs in conventional forms (regex, aligned FASTA, and sequence logo) must be provided</li>
        </ul>
        <p>The current version of {{tool}} satisfies all four criteria.
        </p>

        <h2 class="text-section">3. Workflow</h2>
        <hr class='line'></hr>
        <br />

        <img id ="workflow_image" src="../static/img/workflow.svg" alt="Workflow scheme" />
        <p class="image-paragraph">The <i>de movo</i> motif prediction begins with an orthology search, surface accessibility check, and building hidden Markov model (HMM) profiles for all the input protein sequences.
        Then the resulting HMM profiles are compared to each other in an all-against-all manner to detect the pairwise similarity in the sequences.
        After this the statistics on similarity are accumulated in a residue-wise manner to identify the motif roots in individual proteins that exhibit high enough similarity to sequence stretches in a high enough number of other proteins.
        The identified motif trees undergo an extensive multi-step validation procedure, during which the motifs can be trimmed or discarded altogether.
        Finally, the interactive output HTML with information on the validated regions together with their FASTA and sequence logo representations is written.
        </p>
        <p>The proteome-wide search works from a simplified scheme, where the HMM profile of the input template motif is compared in a profile-to-sequence one-to-many manner with all the sequences from a proteome.
        The matches with ha igh enough score and length are kept as results.
        </p>

    </div>
</div>

{% endblock %}
