<!DOCTYPE html>
<html lang="en">

<head>
    <title>HH-MOTiF</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />
    <meta name="description" content="De novo protein motif search method that combines hHMMs with a hierarchical representation of identified motifs" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/adjuster.min.js"></script>
    {% block load_additional_scripts %}{% endblock %}
</head>

<body>
    <div class="container">
        <div id="header" class="row">
            <div id="logo_wrapper"><img id="logo" src="../static/img/logo.svg" alt="Logo" /></div>
            <ul id="main_menu" class="nav nav-tabs">
                {% block index %}<li><a href="../search/">Search</a></li>{% endblock %}
                {% block guide %}<li><a href="../guide/">Guide</a></li>{% endblock %}
                {% block about %}<li><a href="../about/">About</a></li>{% endblock %}
                {% block tests %}<li><a href="../tests/">Tests</a></li>{% endblock %}
                {% block contact %}<li><a href="../contact/">Contact</a></li>{% endblock %}
            </ul>        
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div> 
    </div>
</body>

</html>
