{% extends "hhmotif_app/base.html" %}

{% block load_additional_scripts %}
<script type="text/javascript" src="../static/js/spin.min.js"></script>
<script type="text/javascript" src="../static/js/index.min.js"></script>
{% endblock %}

{% block index %}<li class="active"><a href="../search/">Search</a></li>{% endblock %}

{% block content %}
<!--Decription-->
<div class="row">
    <p class="main-descr">Welcome to {{tool}}, a novel protein motif discovery method that combines hidden Markov model (HH-) comparisons with a hierarchical representation of identified SLiMs in motif trees.
    Due to extensive validation of motif trees, {{tool}} can find remotely conserved motifs in data sets with low-complexity regions or high redundancy.
    </p>
    <p class="main-descr">{{tool}} is designed for datasets &lt;50 proteins.
    A typical application would be to search for a common binding motif in a set of proteins interacting with the same hub protein.
    </p>
    <br />
</div>

<!--Warnings-->
<div id="js_warning_section" class="row">
    <div class="form-container">
        <div class="form-text">JavaScript is disabled. Please, enable JavaScript to access the functionality of this website</div>
    </div>
</div>

<!--Main content-->
<div id="all_content" class="row">

    <div class="col-lg-1"></div>
    <div id="tool_switcher_container" class="col-lg-2 col-md-2 col-sm-3 col-xs-1">
        <ul id="tool_switcher_menu" class="nav">
            <li class="dropdown">
                <button id="btn-menu" type="button" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-menu-hamburger" style="font-size: 2em"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <ul class="nav nav-tabs nav-stacked">
                            <li class="active"><a class="pseudo-button" href="#de_novo" data-toggle="tab">De novo</a></li>
                            <li><a class="pseudo-button" href="#proteome_wide" data-toggle="tab">Proteome-wide</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <ul id="tool_switcher_normal" class="nav nav-tabs nav-stacked">
            <li id="de_novo_tab" class="active"><a class="pseudo-button" data-toggle="tab" href="#de_novo">De novo</a></li>
            <li id="proteome_wide_tab"><a class="pseudo-button" data-toggle="tab" href="#proteome_wide">Proteome-wide</a></li>
        </ul>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1 lines-container">
        <div id="bottom_line" class="diagonal-line"></div>
        <div id="top_line" class="diagonal-line"></div>
    </div>

    <div id="tool_content" class="col-lg-6 col-md-8 col-sm-8 col-xs-10 tab-content">

        <!--De-novo input forms-->
        <div id="de_novo" class="tab-pane active tool-content">
            <ul class="nav nav-tabs nav-justified form-switcher">
                <li class="active"><a class="pseudo-button" data-toggle="tab" href="#standard_form">Standard</a></li>
                <li><a class="pseudo-button" data-toggle="tab" href="#advanced_form">Advanced</a></li>
            </ul>
            <div class="tab-content">
                <form id="standard_form" class="tab-pane active" action="../search/" method="post" enctype="multipart/form-data">
                    <div class="form-container">
                        <p>Motif prediction with optimized parameters.
                        Requires only a multiple FASTA file with protein sequences to start.
                        Close orthologs will be predicted to assess the sequence conservation</p>
                        <br />
                        <div style="display: none;">{{ standard_form.form_type }}</div>
                        <b style="text-align: left">Input FASTA sequences</b>
                        <span id="input_fasta_area_collapser" class="caret custom-caret"></span>
                        <div id="input_fasta_area" style="display: none">
                            <br />
                            {{ standard_form.input_text }}
                        </div>
                        <br />
                        <b style="color: red">-OR-</b>
                        <br />
                        <div class="sample-download"><a href="../downloads/TRG_LysEnd_APsAcLL_3.fasta" download target="_blank">Sample</a></div>
                        <b style="text-align: left">Input FASTA file (at least 3 protein sequences)</b>
                        <br />
                        <div class="help-mark help-mark-under" title="Unaligned FASTA file with 3 to {{prots_max}} proteins 50 to 10000 residues each" >?</div>
                        {{ standard_form.input_set }}
                        <div class="remark-wrapper"><span class="remark">If no input provided, the sample file will be submitted</span></div>
                        <br /><br />
                        <b>E-mail to notify on results (optional)</b>
                        <br />
                        {{ standard_form.user_email }}
                        <br /><br />
                        <div class="help-mark" title="This name will be displayed in the output and the e-mail to help to distinguish between different jobs" >?</div>
                        <b>Job name (optional)</b>
                        <br />
                        {{ standard_form.job_name }}
                        {% if messages %}
                            <div class="django-message-section">
                                <br /><br />
                                {% for message in messages %}
                                    <div class="alert alert-danger">{{ message|linebreaks }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="js-message-section" style="display: none">
                            <br /><br />
                            <div class="js-message alert alert-danger"></div>
                        </div>
                    </div>
                    <div class="submit-section center-wrapper">
                        <button class="btn-lg button-custom">Submit</button>
                        <div class="sample-output"><a href="../downloads/TRG_LysEnd_APsAcLL_3_results/results.html" target="_blank">Output&nbsp;sample</a></div>
                        <div class="more-help"><a href="../guide/?l=de_novo_input" target="_blank">More&nbsp;help</a></div>
                    </div>
                </form>
                <form id="advanced_form" class="tab-pane fade" action="../search/" method="post" enctype="multipart/form-data">
                    <div class="form-container">
                        <p>Prediction with flexible options for fine-tuned performance.
                        Provides possibility to submit own collections of orthologs for each protein</p>
                        <br />
                        <div style="display: none;">{{ advanced_form.form_type }}</div>
                        <div class="sample-download"><a href="../downloads/TRG_LysEnd_APsAcLL_3.zip" download target="_blank">Sample</a></div>
                        <b style="text-align: left">Input protein set (a FASTA file <span style="color: red">OR</span> ZIP archive of FASTA files)</b>
                        <br />
                        <div class="help-mark help-mark-under" title="Unaligned FASTA file with 3 to {{prots_max}} proteins OR 3 to {{prots_max}} unaligned single/multiple FASTA files; all sequences 50 to 10000 residues long" >?</div>
                        {{ advanced_form.input_zip }}
                        <div class="remark-wrapper"><span class="remark">File submission is mandatory in advanced mode</span></div>
                        <br /><br />
                        <div class="sample-download"><a href="../downloads/TRG_LysEnd_APsAcLL_3_query_regions.txt" download target="_blank">Sample</a></div>
                        <b>Query regions file (optional)</b>
                        <br />
                        <div class="help-mark help-mark-under" title="The file to specify regions of interest in case motifs are to be searched only in parts of the input proteins" >?</div>
                        {{ advanced_form.query_regions }}
                        <br /><br />
                        <div class="help-mark" title="Discard user-provided orthologs and predict them anew with a 2-way-BLAST-based algorithm" >?</div>
                        <b>Search for orthologs</b>
                        <br />
                        {{ advanced_form.ortho_search }}
                        <br /><br />
                        <div class="help-mark" title="Forbid gaps longer than 1 residue in the alignments of motif instances" >?</div>
                        <b>Restrict gaps (limit max. gap length to 1)</b>
                        <br />
                        {{ advanced_form.gepf_infinity }}
                        <br /><br />
                        <div class="help-mark" title="Run the surface accessibility prediction and mask out potentially buried regions" >?</div>
                        <b>Check surface accessibility (mask inner globular regions)</b>
                        <br />
                        {{ advanced_form.rsa_check }}
                        <br /><br />
                        <div class="help-mark" title="Run the disorder prediction and mask out potentially too ordered regions" >?</div>
                        <b>Check disorder (mask ordered regions)</b>
                        <br />
                        {{ advanced_form.disorder_check }}
                        <br /><br />
                        <div class="help-mark" title="Discard motifs located mainly to longer regions of homology and conserved domains, while still showing the ones in unrelated regions of input proteins" >?</div>
                        <b>Smart homology filtering</b>
                        <br />
                        {{ advanced_form.homology_filter }}
                        <br /><br />
                        <div class="help-mark" title="0.1 is recommended for well-conserved motifs, {{pv_max}} - for unconserved or unknown ones" >?</div>
                        <b>Maximal regex p-value</b>
                        <br />
                        {{ advanced_form.pv_max }}
                        <br /><br />
                        <div class="help-mark" title="If no motif trees satisfying the criteria can be found, then relax the filters and show the best suboptimal motif tree" >?</div>
                        <b>Show best suboptimal if no motifs found</b>
                        <br />
                        {{ advanced_form.ignore_filters }}
                        <br /><br />
                        <b>E-mail to notify on results (optional)</b>
                        <br />
                        {{ advanced_form.user_email }}
                        <br /><br />
                        <div class="help-mark" title="This name will be displayed in the output and the e-mail to help to distinguish between different jobs" >?</div>
                        <b>Job name (optional)</b>
                        <br />
                        {{ advanced_form.job_name }}
                        {% if messages %}
                            <div class="django-message-section">
                                <br /><br />
                                {% for message in messages %}
                                    <div class="alert alert-danger">{{ message|linebreaks }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="js-message-section" style="display: none">
                            <br /><br />
                            <div class="js-message alert alert-danger"></div>
                        </div>
                    </div>
                    <div class="submit-section center-wrapper">
                        <button class="btn-lg button-custom">Submit</button>
                        <div class="sample-output"><a href="../downloads/TRG_LysEnd_APsAcLL_3_results_advanced/results.html" target="_blank">Output&nbsp;sample</a></div>
                        <div class="more-help"><a href="../guide/?l=de_novo_input" target="_blank">More&nbsp;help</a></div>
                    </div>
                </form>
            </div>
        </div>

        <!--Proteome input form-->
        <div id="proteome_wide" class="tab-pane tool-content">
            <form id="proteome_form" action="../search/" method="post" enctype="multipart/form-data">
                <div class="form-container">
                    <p>Search for a specific motif within the whole proteome to find new instnces of already known motifs.
                    This is usually the next step after the <i>de novo</i> prediction within a subset of proteins.
                    </p>
                    <br />
                    <div style="display: none;">{{ proteome_form.form_type }}</div>
                    <div class="sample-download"><a href="../downloads/test_motif.fasta" download target="_blank">Sample</a></div>
                    <b style="text-align: left">Input motif (as a FASTA file)</b>
                    <br />
                    <div class="help-mark help-mark-under" title="Aligned - with 3 to 50 columns - FASTA file containing all known - at least 2 - instances of the motif" >?</div>
                    {{ proteome_form.input_motif }}
                    <div class="remark-wrapper"><span class="remark">If not provided, the sample file will be submitted</span></div>
                    <br /><br />
                    <div class="help-mark" title="Species, in whose proteome to look for motifs in" >?</div>
                    <b>Organism</b>
                    <br />
                    {{ proteome_form.proteome }}
                    <br /><br /><br />
                    <div class="help-mark" title="Consider only matches with the same number of residues as the input motif" >?</div>
                    <b>Only full-length motif matches</b>
                    <br />
                    {{ proteome_form.full_length_only }}
                    <br /><br />
                    <b>E-mail to notify on results (optional)</b>
                    <br />
                    {{ proteome_form.user_email }}
                    <br /><br />
                    <div class="help-mark" title="This name will be displayed in the output and the e-mail to help to distinguish between different jobs" >?</div>
                    <b>Job name (optional)</b>
                    <br />
                    {{ proteome_form.job_name }}
                        {% if messages %}
                            <div class="django-message-section">
                                <br /><br />
                                {% for message in messages %}
                                    <div class="alert alert-danger">{{ message|linebreaks }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="js-message-section" style="display: none">
                            <br /><br />
                            <div class="js-message alert alert-danger"></div>
                        </div>
                </div>
                <div class="submit-section center-wrapper">
                    <button class="btn-lg button-custom">Submit</button>
                    <div class="sample-output"><a href="../downloads/test_results_proteome/results.html" target="_blank">Output&nbsp;sample</a></div>
                    <div class="more-help"><a href="../guide/?l=proteome_wide_input" target="_blank">More&nbsp;help</a></div>
                </div>
            </form>
        </div>

    </div>

    <div class="col-lg-6 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 form-container waiting-section" style="display: none">
        <div style="position: relative" class="center-wrapper">
            <img src="../static/img/blank.svg" width="15%" border="0" />
            <div class="spinner-container"></div>
        </div>
        <div class="form-text">Please wait until your input files are being checked</div>
    </div>
    <div class="col-lg-10 form-container accepted-section" style="display: none">
        <div class="center-wrapper">
            <img src="../static/img/Symbol_OK.svg" width="10%" border="0" />
        </div>
        <div class="form-text">
            Your task has been accepted and placed into the queue.
            The link to your result is:<br /><a class="result-link" href="" target="_blank"></a><br />
            <span class="notification" style="display: none;">You will be notified by e-mail as soon as it is complete</span>
        </div>
    </div>

</div>

<!--Footnote-->
<div class="row">
    <div class="text-footnote">
        * If you use the tool, please cite:
        Prytuliak, R., Volkmer, M., Meier, M., & Habermann, B. H. (2017). HH-MOTiF: de novo detection of short linear motifs in proteins by Hidden Markov Model comparisons. <i>Nucleic Acids Research</i>.
    </div>
</div>

<!--Hidden sesion info-->
<div class="session-info">
    <div id="mode">{{mode}}</div>
    <div id="session_key">{{session_key}}</div>
</div>

{% endblock %}
