{% extends "hhmotif_app/base.html" %}

{% block tests %}<li class="active"><a href="../tests/">Tests</a></li>{% endblock %}

{% block content %}
<div class="row">

    <div class="col-xs-12" style="text-align: justify">

        <h2 class="text-section">1. General Information</h2>
        <hr class="line"></hr>
        <br />

        <p>On this page the test protein sets are collected.
        The test sets are useful for two purposes:
        </p>
        <ul style="margin-left: 2em">
            <li>to demonstrate how {{tool}} works</li>
            <li>to measure and compare the performance of {{tool}}</li>
        </ul>
        <p>All the sets produce reproducible output, which matches the presented samples, in standard mode.</p>

        <h2 class="text-section">2. ELM database</h2>
        <hr class="line"></hr>
        <br />

        <p>Major performance tests of {{tool}} were conducted on the <a href="http://elm.eu.org" target="_blank">ELM database</a> as of 26.03.2016.
        Only the motifs with instances at least 3 proteins were considered.
        Some metrics of the resulting dataset are provided below:
        </p>
        <ul style="margin-left: 2em">
            <li>176 motifs</li>
            <li>1,677 unique proteins</li>
            <li>2,022 proteins gross</li>
            <li>1,452,618 total residues gross</li>
            <li>17,909 motif residues gross</li>
        </ul>
        <div class="sample-download" style="float: left"><a href="../downloads/elm_annotation_complete_26.03.2016.tsv" download target="_blank">Download complete ELM annotation</a></div>
        <div style="clear:both"></div>

        <h2 class="text-section">3. Selected protein sets</h2>
        <hr class="line"></hr>
        <br />

        <h3 class="text-sub-section">TRG_LysEnd_APsAcLL_3</h3>
        <p>This set contains an ELM motif responsible for the sorting and internalisation signals directing type I transmembrane proteins from the cell surface or TGN to the lysosomal-endosomal compartment
            (more information <a href="http://elm.eu.org/elms/TRG_LysEnd_APsAcLL_3.html" target="_blank">here</a>).
        It consists of 3 non-related proteins of approximately the same length from different organisms and represents an 'easy case'.
        This motif is recovered by {{tool}} almost perfectly with residue-wise F1 of 0.927.
        This set is used as the default sample set.
        </p>
        <div class="sample-download" style="float: none"><a href="../downloads/TRG_LysEnd_APsAcLL_3.fasta" download target="_blank">Set</a></div>
        <div class="sample-output"><a href="../downloads/TRG_LysEnd_APsAcLL_3_results/results.html" target="_blank">Output</a></div>
        <div style="clear:both"></div>

        <h3 class="text-sub-section">LIG_SH3_3</h3>
        <p>This set contains an ELM motif involved in protein-protein interaction mediated by SH3 domains (more information <a href="http://elm.eu.org/elms/LIG_SH3_3.html" target="_blank">here</a>).
        It consists of 12 proteins of diverse length.
        This motif is harder to find, as it represents a low complexity region (with only conserved residues being Prolines) in the surrounding of other - not motif-containing - low complexity regions.
        Nevertheless, the motif is getting partially recovered by {{tool}} with a moderate residue-wise F1 of 0.279.
        Although there is no straightforward filter implemented, {{tool}} ignores the majority of low complexity regions that do not belong to motifs.
        The reason behind the specificity is that {{tool}} also takes into account the surrounding amino acid context as well as the number of proteins with occurrences.
        </p>
        <div class="sample-download" style="float: none"><a href="../downloads/LIG_SH3_3.fasta" download target="_blank">Set</a></div>
        <div class="sample-output"><a href="../downloads/LIG_SH3_3_results/results.html" target="_blank">Output</a></div>
        <div style="clear:both"></div>

        <h3 class="text-sub-section">LIG_AP_GAE_1</h3>
        <p>This set contains an ELM motif responsible for the interaction with gamma-ear domains (more information <a href="http://elm.eu.org/elms/LIG_AP_GAE_1.html" target="_blank">here</a>).
        It consists of 7 proteins, some of which being close homologs.
        The major difficulty for identifying this motif is, however, its similarity to low complexity regions (D/E-rich).
        Nevertheless, the advanced filtering algorithm of {{tool}} makes it possible to locate this motif with fair accuracy (residue-wise F1 of 0.582).
        </p>
        <div class="sample-download" style="float: none"><a href="../downloads/LIG_AP_GAE_1.fasta" download target="_blank">Set</a></div>
        <div class="sample-output"><a href="../downloads/LIG_AP_GAE_1_results/results.html" target="_blank">Output</a></div>
        <div style="clear:both"></div>

        <h3 class="text-sub-section">LIG_EF_ALG2_ABM_2</h3>
        <p>This set contains an ELM motif responsible for the interaction with apoptosis-linked gene 2 (ALG-2) protein (more information <a href="http://elm.eu.org/elms/LIG_EF_ALG2_ABM_2.html" target="_blank">here</a>).
        It consists of 3 proteins, 2 of which have strongly pronounced low complexity nature.
        Nevertheless, smart homology filtering of HH-MOTiF allows for almost perfect (residue-wise F1 of 0.865) recognition of this motif without outputting false positives.
        </p>
        <div class="sample-download" style="float: none"><a href="../downloads/LIG_EF_ALG2_ABM_2.fasta" download target="_blank">Set</a></div>
        <div class="sample-output"><a href="../downloads/LIG_EF_ALG2_ABM_2_results/results.html" target="_blank">Output</a></div>
        <div style="clear:both"></div>

        <h3 class="text-sub-section">LIG_Actin_WH2_1</h3>
        <p>This set contains an ELM motif responsible for the interaction with actin (more information <a href="http://elm.eu.org/elms/LIG_Actin_WH2_1.html" target="_blank">here</a>).
        It contains a short α-helix at its N-terminus followed by a disordered region, and in several cases also by the additional conserved pattern T.[DE]...P.
        This motif is quite long and stands out from the surrounding sequence.
        However, this ELM set contains only 6 proteins forming only 2 non-homologous groups, which makes the recognition more challenging.
        HH-MOTiF locates this motif with almost ideal accuracy (residue-wise F1 of 0.965).
        </p>
        <div class="sample-download" style="float: none"><a href="../downloads/LIG_Actin_WH2_1.fasta" download target="_blank">Set</a></div>
        <div class="sample-output"><a href="../downloads/LIG_Actin_WH2_1_results/results.html" target="_blank">Output</a></div>
        <div style="clear:both"></div>

        <br />

    </div>

</div>
{% endblock %}
